:root {
    --black: black;
    --white: white;

    --purple-std: #8845C7;
    --yellow-std: #FDB36A;
    --red-std: #FF4141;
    --black-std: #1b1b1b;
    --white-std: #F0F0F0;

    --purple-std2: #8511F2;
    --yellow-std2: #FF9830;
    --red-std2: #E83636;
    --black-std2: #000000;
    --white-std2: #C9C9C9;

}